
.styleImage{
  width: 100px;
}
  
.styleButton{
  border-radius: 5px;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

table {
  width:100%
}
.table-row {
  border-bottom:1px solid black;
}

.pagination {
  text-align:right;
  margin:20px;
}

.loader {
  text-align:center;
}